.membros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .membro {
    display: flex;
    align-items: center;
    margin-right: 30px; /* Espaço entre a imagem e o texto */
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .membro  p {
    margin-left: 20px;
  }

  .membro  img {
    max-width: 50%; /* A imagem se adaptará ao tamanho do contêiner */
    height: 50%;
  }
  
  @media (max-width: 580px) {
    .membro  {
      flex-direction: column; /* Empilhar em coluna quando a tela for menor que 580px */
      text-align: center; /* Centralizar o texto */
    }
  
    .membro  {
      margin: 0; /* Remover margem para que o texto seja alinhado no centro da tela */
    }
  }
  



  #btnVoltarAoTopo {
    display: none; /* Inicialmente, oculta o botão */
    position: fixed; /* Mantém o botão fixo na janela do navegador */
    bottom: 20px; /* Posição a partir do fundo da janela */
    right: 20px; /* Posição a partir da direita da janela */
    padding: 10px; /* Espaçamento interno do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 4px; /* Adiciona cantos arredondados ao botão */
    cursor: pointer; /* Muda o cursor ao passar o mouse sobre o botão */
  }
  
  #btnVoltarAoTopo:hover .btnMembros {
    background-color: #0056b3; /* Cor de fundo quando o mouse estiver sobre o botão */
    display: block;
  }

  
  .btnMembros{
    display: none; /* Inicialmente, oculta o botão */
    position: fixed; /* Mantém o botão fixo na janela do navegador */
    bottom: 20px; /* Posição a partir do fundo da janela */
    right: 20px; /* Posição a partir da direita da janela */
    padding: 10px; /* Espaçamento interno do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 4px; /* Adiciona cantos arredondados ao botão */
  }

  .btnNomes{
    display: block; /* Inicialmente, oculta o botão */
    padding: 10px; /* Espaçamento interno do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 4px; /* Adiciona cantos arredondados ao botão */
    cursor: pointer; /* Muda o cursor ao passar o mouse sobre o botão */

  }